<!DOCTYPE html>
<html lang="en">
  <%- include('_header') %>
    <!-- END nav -->
    <div class="col-md-12 mt-5  text-center">
      <ul class="product-category">
        <li><a href="/login.html?tab=login" class=" font-weight-bold <%= tab === 'login' ? 'active' : '' %>">LOGIN</a></li>
        <li><a href="login.html?tab=signup" class=" font-weight-bold <%= tab === 'signup' ? 'active' : '' %>">SIGN UP</a></li>
      </ul>
           
    </div>

     <% if (messages.length > 0) {%>
             <div class="alert alert-danger alert-dismissible fade show w-50 mx-auto">
             <button type="button" class="close" data-dismiss="alert">&times;</button>             
                <% for (msg in messages){%>
                   <p>
                    <%= messages[msg] %>
                   </p>
                  
                    
                <%}%>
            </div>
            <%}%>

           
    <% if (tab!=null && tab=="login") {%>
      <%- include('_login_form') %>
    <% }else if (tab!=null && tab=="signup") {%>
      <%- include('_signup_form') %>
    <%}%>
    
       
       

      
    <%- include('_footer') %>
  <script>
		$(document).ready(function(){

		var quantitiy=0;
		   $('.quantity-right-plus').click(function(e){
		        
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		            
		            $('#quantity').val(quantity + 1);

		          
		            // Increment
		        
		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		      
		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });
		    
		});
	</script>
    
  </body>
</html>